<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!isAndroid">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- BARRA DE PESQUISA -->
  <ion-searchbar animated debounce="500"></ion-searchbar>

  <!-- LISTAGEM DOS SERVIÇOS -->
  <ion-list>
    <ng-container *ngIf="!servicos || servicos.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item lines="inset" *ngFor="let servico of servicos">
      <ion-label>
        {{ servico.nome }}
      </ion-label>
      <ion-button fill="clear" (click)="update(servico.id, servico.nome)">
        <ion-icon slot="icon-only" name="refresh" color="secondary"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="remove(servico.id)">
        <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <!-- ---------------------------- -->

  <!-- BOTÃO FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- --------- -->

</ion-content>